<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <%= Time.now.year %> <a href="https://www.kbdevshop.com">Check out our shop!</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>